
  table {
    border-collapse: collapse;
  }
  
  td {
    
    border-bottom: 1px solid lightgrey;
    text-align: left;
    margin-left: 20px;

  }
 
  .mat-header-cell{
    background-color: lightgray;
    width: 250px;
  }