<div style="width:250px;height: 700px;background-color: #2A56A8">
    <div style="padding: 20px;">
        <span style="color: white;font-size: 20px; margin-left: 20px; margin-top: 100px; ">Account </span>
    </div>
    <div  class="with-icon" style="margin-top: 30px; margin-left: 30px;">
        <mat-icon aria-hidden="false" class="white-icon" aria-label="Example home icon" fontIcon="account_circle">
        </mat-icon>
        <span (click)="resultPage()" style="color: white;font-size: large; margin-left: 10px;" >Calendar </span>
    </div>
    <div class="with-icon" style="margin-top: 30px; margin-left: 30px;">
        <mat-icon aria-hidden="false" class="white-icon" aria-label="Example home icon" fontIcon="vpn_key">
        </mat-icon>
        <span style="color: white;font-size: large;margin-left: 10px;">Make Appointment </span>
    </div>




</div>